* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#payment {
    background: darkgray;
    color: white;
    padding-top: 8px;
    font-size: 30px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#start {
    background: lightcoral;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#start-zero {
    color: lime;
    margin-left: 5px;
}

#stop {
    background: dodgerblue;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btb-start {
    background-color: darkcyan;
    height: 50px;
}

#end-time {
    color: red;
    margin-left: 5px;
}

#time {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#total-time {
    margin-left: 5px;
    margin-right: 5px;
}

#total-pay {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#pay {
    margin-left: 5px;
    margin-right: 5px;
}

#text {
    background-color: seagreen;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 8px;
    height: 40px;
    border-radius: 5px;
}

#date-time {
    background-color: darkgoldenrod;
    height: 50px;
    padding-top: 13px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#live-time {
    color: white;
}